#paragraph-1 {
  color: green;
  background-color: white;
}

#paragraph-2 {
  color: blue;
  background-color: orange;
}

#paragraph-3 {
  color: white;
  background-color: blue;
}

.section {
  background-color: lemonchiffon;
}
